/* general rules for entire page */

li{
  list-style: none;
}

*{
  box-sizing: border-box;
}

ul{
  padding-left: 0px;
}

.page{
  width: 1092px;
}

/*background image w/ motto*/

div#background{
  overflow: hidden;
  width: 100%;
  height: 330px;
  margin-left: 0px;
  margin-top: 8px;
  padding-right: 0px;
  position: relative;
}

.motto{
  position: absolute;
  top: 120px;
  left:375px;
  text-align: center;
}

.motto p{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin: 0px;
}

/* middle section w/ three boxes */

.content{
  text-align: center;
  width: 100%;
  margin: auto;
}

.pricing{
  border: 1px solid black;
  overflow: auto;
  width: 75%;
  margin: auto;
  margin-top: 31px;
}

.item{
  float: left;
  margin: 10px;
  border: 1px solid lightgrey;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  width: 250px;
}

.type{
  height: 180px;
}

.type-price{
  font-size: 100px;
}

.first-month{
  background: #539054;
  color: white;
}

.second-month{
  background: #2E4A83;
  color: white;
}

.third-month{
  background: #111111;
  color: white;
}

.package{
  border-bottom: 1px solid lightgrey;
  background: #F7F7F7;
  padding: 10px;
  font-size: 10px;
}

.button{
  border: 1px solid lightgrey;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 3px;
  padding-bottom: 4px;
}

/*bottom section w/ four boxes*/

.container{
  clear: both;
  text-align: center;
}

.more-content{
  border: 1px solid black;
  width: 71%;
  overflow: auto;
  margin: auto;
}

.details{
  width: 365px;
  margin: 10px;
  float: left;
  border: 1px solid black;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.heading{
  border: 1px solid green;
}

/*bottom line of the page*/

.footer{
  clear: both;
  background: black;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.convince{
  color: white;
}

.fine-print{
  color: grey;

}
